graphlib_backport  # for python < 3.9
matplotlib
msprime>=1.0.0
numpy
networkx
pandas
pydot  
tsinfer>=0.2.1
tskit>=0.3.4
click
# Extra non-python requirements: graphviz, inkscape
# On Debian, use `sudo apt-get install graphviz graphviz-dev inkscape` for these deps

