# Params for Drosophila inference
NE = 1720600
# Values below from stdpopsim, chr 2L
MU = 5.49e-09
RHO = 2.40463e-08


KWARG_GITREPO = https://github.com/a-ignatieva/kwarg
KWARG_VERSION = v1.0
# don't allow sequencing errors or recurrent mutations; set seed to 9999
KWARG_PARAMS = -S-1 -M-1 -Z9999


ARGWEAVER_GITREPO = https://github.com/CshlSiepelLab/argweaver
# ARGweaver doesn't have a tagged release, so use the latest as of Dec 2022
ARGWEAVER_VERSION = 7191343c1d43c02de04e4e0a150d77b0612728c6
ARGWEAVER_PARAMS = --smc-prime --popsize %(NE)s --mutrate %(MU)s --recombrate %(RHO)s --randseed 9999 --iters 3 --sample-step 10000 --no-compress-output


RELATE_GITREPO = https://github.com/MyersGroup/relate
# Relate doesn't have a tagged release, this corresponds to latest V 1.1.* (Dec 5th 2022)
RELATE_VERSION = 54552e2ad6e4d42647426389c5c463f54d534bce
# NB: RHO is used to construct a genetic map which is passed in separately to Relate. Seed is only for branch lengths
RELATE_PARAMS = --mode All -m %(MU)s -N %(NE)s --seed 111


RELATELIB_GITREPO = https://github.com/leospeidel/relate_lib
# Relate doesn't have a tagged release, so use the latest as of Dec 5th 2022
RELATELIB_VERSION = 3b65c5d5ffb7420eb83802b0b6ec3e5660bd8212
RELATELIB_PARAMS =


TSINFER_GITREPO = https://github.com/tskit-dev/tsinfer
TSINFER_VERSION = 0.3.1